
# Create Link aggregation for Peer Links
- name: Create peer link port-channel
  onyx_linkagg:
    name: Po100
    members: "{{peer_link_interfaces.members}}"  
    mode: active

# Configure IP address for peer link
- name: Configure IP address on switch-A for peer link
  onyx_l3_interface:
    name: Vlan 4000
    ipv4: 10.0.0.1/24  
  when: 
   hostvars[inventory_hostname]['id'] == 'A' 
    
# Configure IP address for peer link
- name: Configure IP address on switch-B for peer link
  onyx_l3_interface:
    name: Vlan 4000
    ipv4: 10.0.0.2/24  
  when: 
   hostvars[inventory_hostname]['id'] == 'B'

# Configure Peer links
- name: Configure IPL on Switch A
  onyx_mlag_ipl:
    name: Po100
    vlan_interface: Vlan 4000
    state: present
    peer_address: "10.0.0.2"
  when: 
   hostvars[inventory_hostname]['id'] == 'A' 

   
- name: Configure IPL on Switch B
  onyx_mlag_ipl:
    name: Po100
    vlan_interface: Vlan 4000
    state: present
    peer_address: "10.0.0.1"
  when: 
   hostvars[inventory_hostname]['id'] == 'B' 

- name: Configure mlag-vip
  onyx_mlag_vip:
    ipaddress: "{{mlag_vip}}"
    group_name: MLAG-VIP-DOM
    mac_address:  00:00:5E:00:AA:AA
    state: present
  ignore_errors: yes
