---
# Configure primary settings on ONYX 
- name: Enable relevant protocols on the Mellanox switches
  onyx_protocol:
    mlag: enabled
    lacp: enabled
    lldp: enabled

# Configure Priority Flow Control settings
- name: Enable priority flow control
  onyx_config:
    lines:
    - ip routing vrf default
    - dcb priority-flow-control enable force  

# Configure VLANs 
- name: Configure vlans
  onyx_vlan:
    vlan_id: "{{item.vlan_id}}"
    name: "{{item.vlan_name}}"
  with_items:
  - "{{netapp_hci_vlans }}"


# Set Jumbo Frames for storage  ports
- name: Set Jumbo frames for storage ports
  onyx_interface:
    name: "{{item.members}}"
    mtu: 9216
  with_items:
  -  "{{storage_interfaces}}"
  tags:
  -  "jumbo_frames"

# Set Jumbo frames for compute ports
- name: Set Jumbo frames for compute ports
  onyx_interface:
    name: "{{item.members}}"
    mtu: 9216
  with_items:
  -  "{{compute_interfaces}}"
  tags:
  -  "jumbo_frames"


    
